*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#0f172a;
color:white;
font-family:Segoe UI;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px;

background:#1e293b;

}

header h1{

font-size:36px;
letter-spacing:2px;

}

#timer{

background:#3b82f6;

padding:10px 20px;

border-radius:10px;

font-size:20px;

}

main{

display:flex;

gap:30px;

padding:30px;

}

section{

flex:3;

background:#1e293b;

padding:25px;

border-radius:12px;

display:flex;
flex-direction:column;
gap:20px;

}

aside{

flex:1;

background:#1e293b;

padding:20px;

border-radius:12px;

height:calc(100vh - 120px);

overflow-y:auto;

}

button{

padding:12px;

background:#22c55e;

border:none;

border-radius:10px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#16a34a;

}

#console{

background:#020617;

padding:15px;

border-radius:10px;

font-family:Courier;

min-height:60px;

}

#resultado{

background:#020617;

padding:15px;

border-radius:10px;

}

ul{

list-style:none;

display:flex;
flex-direction:column;
gap:10px;

}

.stats{

margin-top:30px;

}